.live {
    //background: $dark-green;
    background: $medium-green;
    font-size: $small-font-size;
    color: $vanilla;
    h2 {
        margin: 0;
        @include aladin;
    }
    span {
        line-height: 1.2;
    }
    img {
        max-width: 40px;
    }
}