.post {
    background: $vanilla;
    border-bottom: 10px solid $dark-green;
}
.post-thumbnail {
    position: relative;
    overflow: hidden;
    img {
        position: relative;
        margin: 5% auto 0;
        max-width: 1110px;
        width: 95%;
        display: block;
    }
}
.post-thumbnail__background {
    position: absolute;
    top: 0;
    left: 0;
    margin: -5% 0 0 -5%;
    width: 110%;
    height: 110%;
    filter: blur(1rem);
    background-size: cover;
}
.post-title {
    font-size: 1.75rem;
    color: $dark-brown;
    overflow-wrap: break-word;
    @include media-breakpoint-up(md) {
        font-size: 2.5rem;
    }
    @include aladin;
}

.post-timestamp {
    width: 65px;
    height: 76px;
    background: url('../img/icon.svg') no-repeat;
    background-size: 65px;
    display: block;
    float: left;
    line-height: 1;
    time {
        line-height: 1.2;
    }
}
.post-timestamp__date {
    font-size: 10px;
    @include media-breakpoint-up(md) {
        font-size: 12px;
    }
}
.post-timestamp__time {
    font-size: 14px;
    font-weight: 700;
    @include media-breakpoint-up(md) {
        font-size: 16px;
    }
}

.post-content {
    font-size: 1rem;
    @include media-breakpoint-up(md) {
        font-size: 1.3rem;
    }
}
.post-content ul {
    padding-left: 1.5rem;
}

.embed {
    position: relative;
    padding: 0;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio */
    /* 4:3 aspect ratio its padding-bottom: 75% */
    height: 0;
    overflow: hidden;
    margin-bottom: 2em;
}

.embed iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.blur-up {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    transition: filter 400ms, -webkit-filter 400ms;
}

.blur-up.lazyloaded {
    -webkit-filter: blur(0);
    filter: blur(0);
}