/**
 *
 * Required Bootstrap files
 *
 */
@import './bootstrap/functions';
@import './bootstrap/variables';
@import './bootstrap/mixins';

@mixin aladin {
    .wf-aladin-n4-active & {
        font-family: 'Aladin';
        @content;
    }
}

/**
 *
 * Variables
 *
 */
$light-brown: #AF9A7C;
$dark-brown: #5A3E2E;
$dark-green: #313528;
$medium-green: #6F7545;
$light-green: #B7BC77;
$vanilla: #F7E8C8;


/**
 *
 * Override Bootstrap variables
 *
 */
$body-bg: $light-brown;
$grid-breakpoints: (
    xs: 0,
    sm: 568px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);
$font-family-base: 'Georgia', serif;

/**
 *
 * Colors
 *
 */
.bg-dark-green {
    background-color: $dark-green;
}

.bg-medium-green {
    background-color: $medium-green;
}

.bg-light-green {
    background-color: $light-green;
}

.bg-vanilla {
    background-color: $vanilla !important;
}

.text-dark-brown {
    color: $dark-brown !important;
}

/**
 *
 * Imports
 *
 */

/* Bootstrap */
@import './bootstrap/reboot';
@import './bootstrap/grid';
@import './bootstrap/utilities';
@import './bootstrap/type';

/* Custom */
@import './icons';
@import './header';
@import './live';
@import './post';

img {
    max-width: 100%;
    height: auto;
}

a, a:visited {
    color: $dark-green;
}
a:hover {
    color: $medium-green;
}
