/**
 *
 * Required Bootstrap files
 *
 */
@import './bootstrap/functions';
@import './bootstrap/variables';
@import './bootstrap/mixins';


/**
 *
 * Variables
 *
 */
$light-brown: #AF9A7C;
$dark-brown: #5A3E2E;
$dark-green: #313528;
$vanilla: #F7E8C8;

$grid-breakpoints: (xs: 0,
sm: 567,
md: 768px,
lg: 992px,
xl: 1200px) !default;

$body-bg: $light-brown;

/**
 *
 * Imports
 *
 */
@import './bootstrap/reboot';
@import './bootstrap/grid';
@import './bootstrap/utilities';
@import './bootstrap/type';
@import './header';
@import './live';

img {
    max-width: 100%;
    height: auto;
}